In [6]:
import numpy as np
import pandas as pd
import requests

Using requests_html:
Q1: What is the average exchange rate value this search returns?
The documentation for this database (how to search it, change parameters, etc.)
Q2: Change the base to Euros, then tell me how many Japanese Yen is in a euro.
Q3: What was the number of Yen per Euro on Jan 2, 2018?
Q4: Bonus, prof can show: Get a time series of EURJPY from 2018 through 2019.

In [11]:
url = 'https://api.exchangeratesapi.io/latest?base=USD'

In [12]:
# Q1
r = requests.get(url)
r.status_code # check if it worked
currencyx = r.json()
pd.DataFrame(currencyx).mean()

rates    542.073803
dtype: float64

In [16]:
# Q2
url = 'https://api.exchangeratesapi.io/latest?base=EUR&symbols=JPY'  # change base by base=EUR

r = requests.get(url)
r.status_code # check if it worked
currencyx = r.json()
pd.DataFrame(currencyx)

      rates base        date
JPY  117.66  EUR  2020-04-14

In [17]:
# Q3
url = 'https://api.exchangeratesapi.io/2018-01-02?base=EUR&symbols=JPY'

r = requests.get(url)
r.status_code # check if it worked
currencyx = r.json()
pd.DataFrame(currencyx)

      rates base        date
JPY  135.35  EUR  2018-01-02

In [18]:
# Q4 (bonus)
url = 'https://api.exchangeratesapi.io/history?start_at=2018-01-01&end_at=2018-09-01'
params = ('base':'EUR','symbols':'JPY')
r = requests.get(url,params=params)
df = pd.DataFrame(r.json())

SyntaxError: invalid syntax (<ipython-input-18-534f24f5ca88>, line 3)